@media all and (min-width: 768px) {
    // basic
    * {
        transition: .3s;
    }
    body {
        color: #000;
        font-size: 15px;
        line-height: 30px;
    }
    .container {
        max-width: 1140px;
        padding: 0;
    }
    .relative {
      position: relative !important;
    }
    .row {
        .col-md-6 {
            &:first-child {
                padding-right: 30px;
            }
            &:last-child {
                padding-left: 30px;
            }
        }
    }
    h2.bold {
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
        text-transform: uppercase;
    }
    a.read-more {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        &:hover, &:focus {
            color: lighten(#000, 40%);
            text-decoration: none;
        }
    }
    .date {
        font-size: 25px;
        font-weight: 900;
        line-height: 30px;
    }
    .menu-type {
        margin-bottom: 30px;
        li {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 10px 5px;
            overflow: hidden;
            line-height: 25px;
            a {
                color: #000;
                position: relative;
                color: #000;
                font-size: 20px;
                line-height: 1;
                text-transform: uppercase;
                font-weight: 700;
                display: block;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    border-bottom: 2px solid #000;
                    bottom: -10px;
                    transition: 0.3s ease;
                }
                &:hover, &:focus {
                    text-decoration: none;
                    &::after {
                        bottom: -3px;
                    }
                }
            }
        }
    }
    .big-padding {
        padding: 0 60px;
        line-height: 30px;
    }
    section, footer {
        margin-top: 100px;
    }

    // header
    header {
        min-height: 210px;
        padding-top: 94px;
        .nav-main {
            li {
                padding: 0 20px;
                overflow: hidden;
                a {
                    position: relative;
                    color: #000;
                    font-size: 20px;
                    line-height: 1;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 0 0 5px;
                    display: block;
                    span {
                        display: block;
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 100%;
                            border-bottom: 2px solid #000;
                            bottom: -5px;
                            transition: 0.3s ease;
                        }
                    }
                    &:hover, &:focus {
                        text-decoration: none;
                        span::after {
                            bottom: 2px;
                        }
                    }
                }
                &.active {
                    span::after {
                        bottom: 2px;
                    }
                }
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    // jumbotron hero
    .jumbotron.hero  {
        border-radius: 0;
        min-height: 550px;
        background: url('../images/banner__img.jpg') no-repeat;
        display: table;
        width: 100%;
        margin-top: 0;
        margin-bottom: 70px;
        //vertical-align: middle;
        h2 {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            color: #fff;
            font-size: 90px;
            line-height: 100px;
            letter-spacing: 2px;
            font-weight: 900;
        }
    }

    // first-new
    .first-new {
        > .row > .col-md-6.col-xs-12 p {
          padding-right: 30%;
        }
        .img-responsive {
            float: right;
        }
        .relative {
          .lines {
            position: absolute;
            top: 50%;
            left: -150px;
            .line {
              height: 5px;
              background: #000;
              width: 266px;
              display: block;
              margin-bottom: 37px;
              z-index: 10;
              position: relative;
              overflow: hidden;
              &::after {
                display: block;
                content: '';
                background: #fff;
                height: 5px;
                position: absolute;
                width: 86px;
                right: 0;
              }
              &.second {
                width: 248px;
                left: 30px;
                &::after {
                  width: 98px;
                }
              }
              &.third {
                width: 258px;
                left: 10px;
                &::after {
                  width: 88px;
                }
              }
            }

          }
        }
    }
    .jumbotron.newsletter {
        background: url('../images/newsletter__bg-img.jpg') no-repeat;
        border-radius: 0;
        min-height: 250px;
        display: table;
        width: 100%;
        margin: 100px 0;
        //vertical-align: middle;
        .contact {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            h2 {
                color: #fff;
                margin: 0;
                font-size: 50px;
                line-height: 70px;
                font-weight: 700;
            }
            a.btn {
                font-size: 13px;
                line-height: 30px;
                padding: 0 35px;
                color: #000;
                text-transform: uppercase;
                border-radius: 15px;
                border: 0;
                background: #fff;
                &:hover, &:focus {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
    .content-box {
        margin-bottom: 100px;
    }
    .img-box {
        .col-md-4.col-xs-12 {
            position: relative;
            h2 {
                position: absolute;
                top: 50%;
                text-align: center;
                width: 100%;
                color: #fff;
                text-transform: uppercase;
                font-size: 79.02px;
                line-height: 88px;
                font-weight: 900;
                text-shadow: 0 0 20px rgba(0,0,0,.7);
                margin-top: -44px;

            }
        }
    }
    footer {
        .social {
            margin-top: 50px;
            margin-bottom: 80px;
            li > a {
                display: block;
                background: #ccc;
                text-align: center;
                i {
                    width: 38px;
                    font-size: 26px;
                    line-height: 38px;
                    color: #fff;
                }
                &.facebook {
                    background: #205b9f;
                    &:hover, &:focus {
                        background: lighten(#205b9f , 15%);
                    }
                }
                &.twitter {
                    background: #00ace3;
                    &:hover, &:focus {
                        background: lighten(#00ace3 , 15%);
                    }
                }
                &.youtube {
                    background: #ff4d3f;
                    &:hover, &:focus {
                        background: lighten(#ff4d3f , 15%);
                    }
                }
                &.dribble {
                    background: #ff72a5;
                    &:hover, &:focus {
                        background: lighten(#ff72a5 , 15%);
                    }
                }
                &.instagram {
                    background: #2e7fa6;
                    &:hover, &:focus {
                        background: lighten(#2e7fa6 , 15%);
                    }
                }
            }
        }
    }
}
